linux/src/code/bochs-2.2.6.tar.gz
linux/src/code/bochs-2.2.6/**/*.o
linux/src/code/bochs-2.2.6/**/*.a
linux/src/code/bochs-gdb
linux/linux-0.12/**/*.o
linux/linux-0.12/Image
linux/oslab/bochs/bochs-gdb
linux/oslab/hdc.img.lock
linux/oslab/hdc.img
linux/oslab/Image
.cz-config.js
**/*.log
.husky/
out/