linux/src/code/bochs-2.2.5.tar.gz
linux/src/code/bochs-2.2.5/**/*.o
linux/src/code/bochs-2.2.5/**/*.a
linux/src/code/bochs-2.2.5/bochsdbg
linux/src/code/bochs-2.2.5/bochs
linux/src/code/bochs-gdb
linux/src/code/dbg.c
linux/src/docker/
linux/linux-0.12/**/*.o
linux/linux-0.12/**/*.a
linux/linux-0.12/kernel/chr_drv/keyboard.s
linux/linux-0.12/boot/bootsect.s
linux/linux-0.12/boot/bootsect
linux/linux-0.12/tools/kernel
linux/linux-0.12/tools/system
linux/linux-0.12/boot/setup.s
linux/linux-0.12/tools/build
linux/linux-0.12/boot/setup
linux/linux-0.12/System.map
linux/linux-0.12/Image
linux/oslab/bochs/bochs-gdb
linux/oslab/bochsout.txt
linux/oslab/hdc.img.lock
linux/oslab/hdc.img
linux/oslab/Image
.cz-config.js
**/.vscode/
**/*.log
.husky/
out/